fastapi==0.104.1
uvicorn[standard]==0.24.0
python-dotenv==1.0.0
sqlalchemy==2.0.23
psycopg2-binary
seqlog==0.3.31
python-json-logger==2.0.7

# Authentication
passlib==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.3.0